body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style-type: none;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    color: #fff;

}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.header {
    padding: 24px 0;
}

.header-width {
    max-width: 1128px;
    margin: 0 auto;
}

.header-menu {
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16667;
}
.logo-color {
    color: #4d5ae5;
}

.header-list {
}

.header-item {
    font-weight: 500;
    display: inline-block;
}

.header-item:hover {
color: #404bbf;
}

.header-contacts {
}

.header-subitem {
    color: #434455;
}

.header-subitem:hover {
    color: #404bbf;
}

.title {
    background-color: #2e2f42;
    padding: 188px 472px;
}
.title-main {
    width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
}
.title-button {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #fff;
    cursor: pointer;
}

.title-button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

.columns {
    padding: 120px 0;
}

.columns-width {
    max-width: 1128px;
    margin: 0 auto;
}

.columns-list {
}

.columns-item {
    width: 264px;
    height: 104px;
}

.columns-title {
    margin-bottom: 8px;
}

.columns-text {
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-width {
    max-width: 1128px;
    margin: 0 auto;
}
.team-title {
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
}
.team-item {
    width: 264px;
    height: 380px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.team-subtitle {
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-text {
    margin-top: 8px;
    text-align: center;

}


.portfolio {
    padding: 120px 0;
}
.portfolio-width {
    max-width: 1128px;
    margin: 0 auto;
}

.portfolio-info {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;

}

.portfolio-title {
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-text {
}


.footer {
    background-color: #2e2f42;
    padding: 100px;
}
.footer-width {
    max-width: 1128px;
    margin: 0 auto;
}
.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 16px;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    height: 72px;

}